<a href="https://colab.research.google.com/github/iamwilliamfoster/class2021spring/blob/main/20210317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(2,8):
  for v in range(3,5):
    x = i * v
    if x > 10:
      print (x)

12
12
16
15
20
18
24
21
28

In [7]:
a = [i for i in range(1,20) if i%2]
b = [i for i in a if i%5 and i>4]
print(a)
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13, 17, 19]

In [11]:
a = ['cat','dog','bear','bird','fish']
b = [i for i in a if len(i) > 3]
for idx, x in enumerate(b, 1):
  print(idx, x)

1 bear
2 bird
3 fish